/* import font family */
@font-face {
  font-family: 'josefin-sans';
  src: url('../fonts/josefin_sans/JosefinSans-VariableFont_wght.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Medium.ttf');
}


@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: 'Consolas';
  src: url("../fonts/Consolas/consola-1.ttf");
}

@font-face {
  font-family: 'noto-sans';
  src: url("../fonts/noto-sans/NotoSansSC-Bold.ttf");
}
