:root {
  /* space */
  --space-ssm: 0.25rem;
  --space-sm: 0.5rem;
  --space-1x: .75rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  /* color */
  --bg-color: var(--color);
  --active-color: #1677ff;
  /* radius */
  --radius-sm: 0.25rem;
  --radius-md: 0.4rem;
  /* transition */
  --transition: all 0.2s ease-out;
  --transition-5: all 0.5s;
  /* header */
  --header-height: 3rem;
  --header-border-color: var(--border-color);
  /* menu */
  --menu-border: 1px solid var(--menu-border-color);
  --menu-item-height: 3rem;
  --menu-item-border: 1px solid var(--menu-item-border-color);
  --menu-item-font-family: 'Popins', sans-serif;
  --menu-item-font-size: 1rem;
  --menu-icon-size: 3rem;
  --menu-border-color: var(--border-color);
  --menu-item-bg: var(--bg-color);
  --menu-item-border-color: var(--border-color);
  --menu-item-padding: var(--space-sm);
  --menu-item-color: var(--font-color);
  --menu-item-active-color: var(--active-color);
  --menu-item-icon-active-color: var(--active-color);
  /* button */
  --button-hover-color: #1677ff;
  /* brand */
  --brand-height: 4rem;
  --brand-icon-size: 1.8rem;
  --brand-font-size: 1.4rem;
  --brand-font-family: 'Josefin Sans', sans-serif;

  /* font */
  --font-size-title: 1.3rem;
  --font-size-content: 1rem;
  /* scroll bar */
  --scroll-bar-thumb-color: var(--border-color);
  /* radio */
  --radio-group-bg-color: var(--bg-color);
  /* brand */
  --brand-icon-color: #1677ff;
  /* editor */
  --editor-color: #1a1a1a;
  --editor-bg-color: color-mix(in lch, var(--editor-color) 95%, #fff);
  --editor-bg-bt-color: color-mix(in lch, var(--editor-bg-color) 95%, #fff);
  --editor-font-color: #ccc;
  --editor-border-color: color-mix(in lch, var(--editor-color) 80%, #fff);
  /* dashboard */
  --dashboard-size: 1.2rem;
}


:root[theme="light"] {
  --color: #fefefe;
  /* font */
  --font-color: #1a1a1a;
  --font-color-2: #888;
  --font-color-3: #b3b3b3;
  --font-sub-color: color-mix(in srgb, var(--font-color) 40%, #fff);
  --border-color: color-mix(in lch, var(--color) 90%, black);
  --border-color-hover: color-mix(in lch, var(--color) 50%, black);
  --bg-bt-color: color-mix(in lch, var(--bg-color) 95%, black);
  --bg-color-hover: var(--bg-color);
  /* menu */
  --menu-item-hover-bg: color-mix(in lch, var(--menu-item-bg) 98%, black);
  --menu-item-icon-color: color-mix(in srgb, var(--font-color) 90%, #fff);
  /* scroll */
  --scroll-bar-thumb-color: color-mix(in lch, var(--color) 98%, black);
  --scroll-bar-thumb-hover-color: color-mix(in lch, var(--color) 100%, black);
  /* checkbox */
  --checkbox-unchecked-boxshadow: -2px -2px 5px rgba(255, 255, 255, 1),
    3px 3px 5px rgba(0, 0, 0, 0.1);
  --checkbox-checked-boxshadow: inset 3px 3px 6px rgba(0, 0, 0, 0.4),
    inset 0px 0px 4px rgba(255, 255, 255, 0.08);
  /* card */
  --card-bg-color: color-mix(in lch, var(--color) 100%, black);
  --card-footer-font-color: #1a1a1a;
  /* pagination */
  --pagination-color: #2b2b2b;
  --pagination-bg-color: #fefefe;
  --pagination-border-color: var(--border-color);
  --pagination-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

:root[theme="dark"] {
  --color: #1a1a1a;
  /* font */
  --font-color: #ccc;
  --font-color-2: #aaa;
  --font-color-3: #666;
  --font-sub-color: color-mix(in srgb, var(--font-color) 40%, #000);
  --border-color: color-mix(in lch, var(--color) 80%, #fff);
  --border-color-hover: color-mix(in lch, var(--color) 50%, #fff);
  --bg-color-hover: color-mix(in lch, var(--color) 95%, #fff);
  --bg-bt-color: color-mix(in lch, var(--bg-color) 95%, #fff);
  /* menu */
  --menu-item-hover-bg: color-mix(in lch, var(--menu-item-bg) 98%, #fff);
  --menu-item-icon-color: color-mix(in srgb, var(--font-color) 90%, #000);
  /* scroll */
  --scroll-bar-thumb-color: color-mix(in lch, var(--color) 80%, #fff);
  --scroll-bar-thumb-hover-color: color-mix(in lch, var(--color) 75%, #fff);
  /* checkbox */
  --checkbox-unchecked-boxshadow: 3px 3px 6px rgba(0, 0, 0, 0.4),
    -1px -1px 4px rgba(255, 255, 255, 0.08);
  --checkbox-checked-boxshadow: 3px 3px 6px rgba(0, 0, 0, 0.4),
    -1px -1px 4px rgba(255, 255, 255, 0.08),
    inset 3px 3px 6px rgba(0, 0, 0, 0.4),
    inset -1px -1px 4px rgba(255, 255, 255, 0.08);
  /* card */
  --card-bg-color: color-mix(in lch, var(--color) 95%, #fff);
  --card-footer-font-color: #1a1a1a;
  /* pagination */
  --pagination-color: #bbbbbb;
  --pagination-bg-color: #181818;
  --pagination-border-color: var(--border-color);
}
